<article *ngFor="let article of dataResult.data.items" class="mb-3" class="list-group-item list-group-item-action">
  <header>
    <a [routerLink]="['/category',article.category.name|urlFormat,article.category.id]" class="badge badge-primary">{{article.category.name}}</a>
    <a [routerLink]="['/article', article.title|urlFormat, article.id]" class="text-body text-decoration-none">
      <h1 class="h2">{{article.title}}</h1>
      <div class="text-muted">Posted on: <time data-toggle="article.publishDate">{{article.publishDate|date}}</time></div>
      <div>
        <span class="badge badge-primary mr-1"><i class="fa fa-comment"></i> 3 Comments</span>
        <span class="badge badge-primary"><i class="fa fa-eye"></i> {{article.viewCount}} Views</span>
      </div>
    </a>
  </header>
  <a [routerLink]="['/article', article.title|urlFormat, article.id]" class="text-decoration-none">
    <section id="main" class="text-muted">
      <figure class="figure">
        <img src="{{article.picture.url}}" alt="Figure Image" class="figure-img img-fluid" />
      </figure> {{article.contentSummary}} <a [routerLink]="['/article', article.title|urlFormat, article.id]" class="font-italic"> read more...</a>
    </section>
  </a>
  <hr>
</article>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="dataResult.data.totalCount" [itemsPerPage]="dataResult.data.pageSize"
    [(ngModel)]="dataResult.data.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>
