<app-admin-nav></app-admin-nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="{{activeClass}}" [routerLinkActiveOptions]='{exact:true}'>
              <i class="fas fa-home"></i> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/article/list']" routerLinkActive="{{activeClass}}">
              <i class="fas fa-file-alt"></i> Articles </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h1 class="h2">{{pageTitle}}</h1>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
