<div class="d-flex" id="wrapper" [ngClass]="isSidebarOpen? '':'toggled'">
  <!-- Sidebar -->
  <div class="bg-light border-right " id="sidebar-wrapper">
    <a *ngIf="admin" routerLink="/admin" class="sidebar-heading">{{admin.username}} </a>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/admin']" routerLinkActive="{{activeClass}}" [routerLinkActiveOptions]='{exact:true}' class="nav-link"><i
          class="fas fa-home"></i> Home </a>
      <a [routerLink]="['/admin/article/list']" routerLinkActive="{{activeClass}}" class="nav-link"><i class="fas fa-file-alt"></i> Articles</a>
      <a [routerLink]="['/admin/category/list']" routerLinkActive="{{activeClass}}" class="nav-link"><i class="fas fa-list-alt"></i> Categories</a>
      <a [routerLink]="['/admin/language/list']" routerLinkActive="{{activeClass}}" class="nav-link"><i class="fas fa-language"></i> Languages</a>
    </div>
  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-admin-nav (isOpenEvent)="toggle($event)"></app-admin-nav>
    <div class="container-fluid">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h1 class="h2">{{pageTitle}}</h1>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
