body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0.1rem;
  height: calc(100vh - 0.1rem);
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  display: block;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6 !important;
}

#sidebar-wrapper .nav-link {
  font-weight: 500;
  color: #333;
}

#sidebar-wrapper .nav-link .fas {
  margin-right: 4px;
  color: #999;
}

#sidebar-wrapper .nav-link.active {
  color: #007bff;
}

#sidebar-wrapper .nav-link:hover .fas,
#sidebar-wrapper .nav-link.active .fas {
  color: inherit;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
