<form [id]='id' [ngClass]="class" [hidden]="hidden" [formGroup]="commentForm">
  <app-text-input formControlName="name" [type]="'text'" [label]="'Name'" [placeholder]="'Your Name'"></app-text-input>
  <app-textarea-input formControlName="contentMain" [label]="'Comment'" [placeholder]="'Write your comment here. Maximum 500 characters long.'">
  </app-textarea-input>
  <div class="mb-2">
    <re-captcha (resolved)="resolved($event)" formControlName="captcha" siteKey="6Lc2nvgUAAAAABSBHFGpGN0zb5jQgAoBpGjHDDie">
    </re-captcha>
  </div>
  <button type="submit" (click)="onSubmit()" [disabled]="commentForm.pristine || commentForm.invalid || commentService.loading|| !captchaSuccess"
    class="btn btn-primary">Submit <i *ngIf="commentService.loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></i>
  </button>
  <button type="reset" class="btn btn-danger ml-1">Reset</button>
</form>
