<section id="comments">
  <h2>Comments</h2>
  <div class="media">
    <!-- <img src="https:/placehold.it/64x64" class="mr-3" alt="Media object image" /> -->
    <i class="fas fa-user-alt fa-4x mr-3" style="color:#DDDDDD;"></i>
    <div class="media-body">
      <h6 class="mb-0">Author Name</h6>
      <p class="mb-0"> Ullamcorper malesuada proin libero nunc consequat interdum varius. Luctus venenatis lectus magna fringilla urna. Risus viverra
        adipiscing at in tellus integer feugiat scelerisque varius </p>
      <hr class="mb-0" style="margin-top: 0.5rem;" />
      <div class="mb-1">
        <small class="mr-1"><time datetime="2020-03-12T10:24">March 12, 2020</time></small>
        <a href="#0" style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
          <small> <span class="btn-label"><i class="fas fa-reply fa-fw text-primary"></i></span>Reply </small>
        </a>
      </div>
    </div>
  </div>
  <hr />
  <div class="media">
    <i class="fas fa-user-alt fa-4x mr-3" style="color:#DDDDDD;"></i>
    <div class="media-body">
      <h6 class="mb-0">Author Name</h6>
      <p class="mb-0"> Ullamcorper malesuada proin libero nunc consequat interdum varius. Luctus venenatis lectus magna fringilla urna. Risus viverra
        adipiscing at in tellus integer feugiat scelerisque varius </p>
      <hr class="mb-0" style="margin-top: 0.5rem;" />
      <div class="mb-1">
        <small class="mr-1"><time datetime="2020-03-12T10:24">March 12, 2020</time></small>
        <a href="#0" style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
          <small> <span class="btn-label"><i class="fas fa-reply fa-fw text-primary"></i></span>Reply </small>
        </a>
      </div>
    </div>
  </div>
  <hr />
  <div class="media">
    <i class="fas fa-user-alt fa-4x mr-3" style="color:#DDDDDD;"></i>
    <div class="media-body">
      <h6 class="mb-0">Author Name</h6>
      <p class="mb-0"> Ullamcorper malesuada proin libero nunc consequat interdum varius. Luctus venenatis lectus magna fringilla urna. Risus viverra
        adipiscing at in tellus integer feugiat scelerisque varius </p>
      <hr class="mb-0" style="margin-top: 0.5rem;" />
      <div class="mb-1">
        <small class="mr-1"><time datetime="2020-03-12T10:24">March 12, 2020</time></small>
        <a href="#0" style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
          <small> <span class="btn-label"><i class="fas fa-reply fa-fw text-primary"></i></span>Reply </small>
        </a>
      </div>
      <div class="media">
        <i class="fas fa-user-alt fa-4x mr-3" style="color:#DDDDDD;"></i>
        <div class="media-body">
          <h6 class="mb-0">Author Name</h6>
          <p class="mb-0"> Ullamcorper malesuada proin libero nunc consequat interdum varius. Luctus venenatis lectus magna fringilla urna. Risus
            viverra adipiscing at in tellus integer feugiat scelerisque varius </p>
          <hr class="mb-0" style="margin-top: 0.5rem;" />
          <div class="mb-1">
            <small class="mr-1"><time datetime="2020-03-12T10:24">March 12, 2020</time></small>
            <a href="#0" style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
              <small> <span class="btn-label"><i class="fas fa-reply fa-fw text-primary"></i></span>Reply </small>
            </a>
          </div>
          <div class="media">
            <i class="fas fa-user-alt fa-4x mr-3" style="color:#DDDDDD;"></i>
            <div class="media-body">
              <h6 class="mb-0">Author Name</h6>
              <p class="mb-0"> Ullamcorper malesuada proin libero nunc consequat interdum varius. Luctus venenatis lectus magna fringilla urna. Risus
                viverra adipiscing at in tellus integer feugiat scelerisque varius </p>
              <hr class="mb-0" style="margin-top: 0.5rem;" />
              <div class="mb-1">
                <small class="mr-1"><time datetime="2020-03-12T10:24">March 12, 2020</time></small>
                <a href="#0" style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
                  <small> <span class="btn-label"><i class="fas fa-reply fa-fw text-primary"></i></span>Reply </small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <i class="fas fa-user-alt fa-4x mr-3" style="color:#DDDDDD;"></i>
        <div class="media-body">
          <h6 class="mb-0">Author Name</h6>
          <p class="mb-0"> Ullamcorper malesuada proin libero nunc consequat interdum varius. Luctus venenatis lectus magna fringilla urna. Risus
            viverra adipiscing at in tellus integer feugiat scelerisque varius </p>
          <hr class="mb-0" style="margin-top: 0.5rem;" />
          <div class="mb-1">
            <small class="mr-1"><time datetime="2020-03-12T10:24">March 12, 2020</time></small>
            <a href="#0" style="border-left: 1px solid rgba(0, 0, 0, 0.1);">
              <small> <span class="btn-label"><i class="fas fa-reply fa-fw text-primary"></i></span>Reply </small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" placeholder="Name" id="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="comment ">Your comment:</label>
      <textarea class="form-control" name="comment" id="comment" placeholder="Write your comment here. Maximum 500 characters." rows="5"
        required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger ml-1">Reset</button>
  </form>
</section>
