<article>
  <header>
    <a [routerLink]="['/category',article.category.name|urlFormat,article.category.id]" class="badge badge-primary"> {{article.category.name}}</a>
    <h1 class="h2">{{article.title}}</h1>
    <div class="text-muted">Posted on: <time data-toggle="article.publishDate">{{article.publishDate|date}}</time></div>
    <div>
      <span class="badge badge-primary mr-1"><i class="fa fa-comment"></i> 3 Comments</span>
      <span class="badge badge-primary"><i class="fa fa-eye"></i> {{article.viewCount}} Views</span>
    </div>
  </header>
  <section id="main">
    <figure class="figure">
      <img [src]="article.picture !=null ? article.picture.url : 'https:/placehold.it/1200x600'"  alt="Figure Image" class="figure-img img-fluid" />
    </figure>
    <quill-view-html [content]="article.contentMain" theme="snow"></quill-view-html>
  </section>
  <app-comment [articleId]="article.id"></app-comment>
</article>
