<footer class="blog-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h6>Quick Links</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h6>Follow Me</h6>
        <ul class="list-unstyled">
          <li><a href="https://github.com/burhansavci" target="_blank"><i class="fab fa-fw fa-github"></i> Github</a></li>
          <li><a href="https://www.linkedin.com/in/burhan-savci/" target="_blank"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h6>Contact Me</h6>
        <address>
          <strong>Burhan SAVCI</strong> <br />
          <a href="mailto:burhansavci@gmail.con">burhansavci@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
</footer>
